@@ -1,25 +1,26 @@
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}
.container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    width: 100%;
    max-height: 400px; /* Set maximum height for the container */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}
h1 {
    color: #000; /* black */
@@ -44,9 +45,10 @@ h1 {
}
#messages {
    padding: 10px;
    max-height: 400px;
    max-height: calc(100% - 160px); /* Adjust based on other elements' height */
    overflow-y: auto;
    box-sizing: border-box;
    flex-grow: 1; /* Allow it to grow and fill available space */
}
.message-container {
    padding: 10px;
@@ -71,6 +73,6 @@ h1 {
    margin-bottom: 10px;
}
.icon-container img {
    width: 64px;
    height: 64px;
    width: 32px;
    height: 32px;
}
